<div class="sask-carousel-container sksocial 1 para-column-1 coumn-1-wrapper">
    <div class="field field-name-field-col-para-body field-type-text-long field-label-hidden clearfix">
    <div class="field-item even img-responsive">
    <div class="sask-box-content">
    <div class="hme_icon_wrapper_social">
    <div class="clearfix">
    <div class="sask-box-container">
    <a href="https://www.facebook.com/SaskenTechnologiesLtd" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="sask-box-container"><a href="https://twitter.com/saskentweets" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i></a></div>
    <div class="sask-box-container"><a href="https://www.youtube.com/channel/UC4bueyy_jMJWsmiTokp2l6g" target="_blank">  <i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
    <div class="sask-box-container">
    <a href="https://in.linkedin.com/company/sasken" target="_blank">  <i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div> 
    <div class="sask-box-container last"><a href="https://www.slideshare.net/SaskenCommunication" target="_blank"><i class="fa fa-slideshare" aria-hidden="true"></i>
    </a> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>



    <div class="fot_bg sk-footer">
        <div class="container-fluid">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-left row">
        <div class="fotlogo">
        <img src="https://www.sasken.com/sites/default/files/fotlogo.png" alt="Sasken.com Logo">
        <p>
        Sasken is a specialist in Product Engineering and Digital Transformation providing concept-to-market, chip-to-cognition R&amp;D services to global leaders in Semiconductor, Automotive, Industrials, Smart Devices &amp; Wearables, Enterprise Grade Devices, Satcom and Transportation industries.
        </p>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 row righttxt text-right fotli pull-right">
        <h3>Corporate Headquarters</h3>
        <ul>
        <li>Sasken Technologies Ltd</li>
        <!--<li>(formerly Sasken Communication Technologies Ltd)</li>-->
        <li>139/25, Ring Road, Domlur, Bengaluru 560071, India</li>
        <li>CIN# L72100KA1989PLC014226</li>
        </ul>
        </div>
        <div class="clearfix"></div>
        <div class="fotlin"></div>
        <div class="fottmen">
          
         <div class="tb-megamenu tb-megamenu-menu-footer-main-menu">
              <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar tb-megamenu-button menuIstance-processed" type="button">
              <i class="fa fa-reorder"></i>
            </button>
            <div class="nav-collapse  always-show">
            <ul class="tb-megamenu-nav nav level-0 items-6">
          <li data-id="1664" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
          <a href="http://blog.sasken.com/">
                
            Blog          </a>
          </li>
        
        <li data-id="1660" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
          <a href="/careers">
                
            Careers          </a>
          </li>
        
        <li data-id="1663" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
          <a href="/contact-us">
                
            Contact          </a>
          </li>
        
        <li data-id="1661" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
          <a href="https://www.sasken.com/events/">
                
            Event          </a>
          </li>
        
        <li data-id="1795" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
          <a href="https://www.sasken.com/investors">
                
            Investors          </a>
          </li>
        
        <li data-id="1662" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega">
          <a href="https://www.sasken.com/news/">
                
            News          </a>
          </li>
        </ul>
              </div>
          </div>
        
          <p class="sk-ftrcpryt">© Sasken Technologies Ltd 1989 - 2019 &nbsp; &nbsp;
             <a href="https://www.sasken.com/terms-use"> Terms of Use </a> &nbsp; &nbsp; 
            <a href="https://www.sasken.com/privacy-policy"> Privacy Policy </a> &nbsp; &nbsp; 
            <a href="https://www.sasken.com/cookie-policy"> Cookie Policy </a></p>
          
        </div>
        </div></div>